.wrapper-special-offers {
  display: flex;
  flex-direction: column;
  gap: 60px;

  .offer {
    display: flex;
    gap: 20px;

    .info {
      max-width: 290px;
      display: flex;
      flex-direction: column;
      h2 {
        margin-bottom: 28px;
      }

      p {
        margin-bottom: 52px;
        font-weight: 100;
      }
    }
  }
}

@media only screen and (max-width: $breakpoint-md) {
  .offer {
    flex-wrap: wrap;
    justify-content: center;

    .info {
      align-items: center;
    }
  }
}
