figure {
  position: relative;
  z-index: 1;

  max-width: 236px;
  max-height: 304px;
  color: $brand-light;

  figcaption {
    max-width: 100%;
    background: rgba(0, 0, 0, 0.5);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;

    .btn {
      margin-top: 3.563rem; //57px
    }
  }
}
